*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

.section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)),
    url(https://https://img.freepik.com/free-vector/geometric-background-with-pastel-colors_91008-278.jpg?w=2000&t=st=1666374751~exp=1666375351~hmac=8a53ad4a0c356d3cad863d6ef361b618dcb1a99475463ae95ee605da3939975e.unsplash.com/photo-1528538294120-1699b9c2cd48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHxjb21wdXRlciUyMGFuZCUyMGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=100)center, no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-1-heading {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    background-color: #e5a5c0;
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: .3rem solid #fff;
    text-shadow: .2rem .2rem 1rem #555;
    transform: skew(-10deg);
}
.person-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    border: .7rem dotted #e5a5c0;
    background-color: rgba(125, 250, 250, 0.45);
    padding: .5rem;
    opacity: .9;
}
.person-name {
    font-size: 2rem;
}